@model IEnumerable<WebApplication1.Models.food>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.foodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.foodDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.foodCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.foodType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.foodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.foodDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.foodCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.foodType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
